.allpageheader-main {
    background-image: url('../../assets/decos/topheaders.png');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* padding-top: 200px;
    padding-bottom: 200px; */
    position: relative;
    text-align: center;
    background-attachment: scroll;
    background-position: center;
    background-color: transparent;
    height: 348px;
    width: 100%;
    margin-bottom: 0px;
    padding-top: 12px;
    position: relative;
    padding-bottom: 60px;
    z-index: -1;
  }
  
  .allpageheader-title {
    z-index: 2;
    position: relative;
    font-family: "Fredoka", sans-serif;
    font-size: 45px;
    position: relative;
    /* text-transform: capitalize; */
    text-align: center;
    margin-bottom: 0px;
    color:#002B51;
    margin-top: 180px;
  }
  

  .allpageheader-title::after {
    content: '';
    display: inline-block;
    background-image: url('../../assets/decos/commentheart.webp');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px; /* adjust size as needed */
    height: 50px; /* adjust size as needed */
    margin-left: 10px;
    top: -50px;
    rotate: 0deg;
    vertical-align: top;
  }
  .allpageheader-title::before {
    content: '';
    display: inline-block;
    background-image: url('../../assets/decos/butterfly.webp');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px; /* adjust size as needed */
    height: 50px; /* adjust size as needed */
    margin-left: -30px;
    top: -50px;
    transform: skew(-1);
    vertical-align: top;
  }

  @media screen and (max-width: 600px) {
    .allpageheader-title {
      font-size: 38px;
    }
  }