.eduprogram-main{
    padding: 80px 50px 50px 50px;
    max-width: 1420px;    
    overflow: hidden;
    justify-self: center;
}
.eduprogram-subheading{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    color:  #FF6F91  ;
}
.eduprogram-heading::after {
    content: '';
    display: inline-block;
    background-image: url('https://media-public.canva.com/ZR01Q/MAGPqgZR01Q/1/t.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px; /* adjust size as needed */
    height: 40px; /* adjust size as needed */
    /* margin-left: 10px; */
    top: -90px;
    rotate: 20deg;
    vertical-align: top;
  }
.eduprogram-heading{
    position: relative;
    font-family: "Fredoka", sans-serif;
    font-size: 45px;
    /* text-transform: capitalize; */
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #002B51;
}
.eduprogram-title{
    font-family: "Fredoka", sans-serif;
    font-size: 25px;
    /* text-transform: capitalize; */
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #002B51;
}
.eduprogram-para{
    font-family: "Plus Jakarta Sans", sans-serif;
    margin-top: 10px;
    line-height: 1.6;
    font-size: 16px;

    font-weight: normal;
    text-align: center;
    color:  rgb(0, 43, 81);
}
.divide{
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: center;
    height: 50px;
}
.eduprogram-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.eduprograms{
    width: 22%;
}
.eduprogram-img{
    width: 100%;
}

@media screen and (max-width: 1270px) {
    .eduprogram-main{
        padding: 80px 40px 50px 40px;}
        .eduprogram-heading{
            font-size: 40px;

        }
    .eduprogram-title{font-size: 20px;}
    .eduprogram-para{
        font-size: 16px;
    }
    .eduprogram-container{
        gap: 20px;
    }
}
@media screen and (min-width: 750px) and (max-width: 1000px){
    .eduprogram-main{
        padding: 80px 30px 50px 30px;}
        .eduprogram-heading{
            font-size: 40px;

        }
    .eduprogram-title{font-size: 25px;}
    .eduprogram-para{
        font-size: 16px;
    }
    .eduprogram-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .eduprograms{
        width: 45%;
    }
    .eduprogram-img{
        width: 90%;
    }
  
}
@media screen  and (min-width: 500px) and (max-width: 750px){
    .eduprogram-main{
        padding: 80px 30px 50px 30px;}
        .eduprogram-heading{
            font-size: 35px;
        }
    .eduprogram-title{font-size: 22px;}
    .eduprogram-para{
        font-size: 16px;
    }
    .eduprogram-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .eduprograms{
        width: 45%;
    }
    .eduprogram-img{
        width: 90%;
    }
  
}
@media screen and (max-width: 500px) {
    .eduprogram-main{
        padding: 80px 30px 50px 30px;}
        .eduprogram-heading{
            font-size: 35px;
        }
    .eduprogram-title{font-size: 22px;}
    .eduprogram-para{
        font-size: 16px;
    }
    .eduprogram-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .eduprograms{
        width: 98%;
    }
    .eduprogram-img{
        width: 90%;
    }
  
}